extends ../../layouts/default.pug
include ../../mixins/box-filter.pug
include ../../mixins/pagination.pug

block main
  h1 Danh sách sản phẩm
  .card.mb-3
    .card-header Bộ lọc và tìm kiếm
    .card-body
      .row
        .col-4
          | Bộ lọc
          - 
            const options = [
              { 
                value: '', 
                text: 'Tất cả' 
              },
              { 
                value: 'active', 
                text: 'Hoạt động' 
              }, 
              { 
                value: 'inactive', 
                text: 'Dừng hoạt động' 
              }
            ];
          - const className = "form-control";
          +selectOptions(options, className)

        .col-8
          | Tìm kiếm
          include ../../partials/box-search.pug

  .card
    .card-header Danh sách sản phẩm
    .card-body
      .row.mb-3
        .col-6
          form(
            form-change-multi
            data-path=`/${prefixAdmin}/products/change-multi`
          )
            .input-group
              select(name="status" class="form-control")
                option(value="active") Hoạt động
                option(value="inactive") Dừng hoạt động
                option(value="delete") Xóa
              .input-group-append
                button.btn.btn-success(type="submit") Áp dụng
        .col-6.text-right
          a(
            href=`/${prefixAdmin}/products/create`
            class="btn btn-outline-success"
          ) + Thêm mới

      table.table.table-hover.table-sm
        thead
          tr
            th
            th STT
            th Hình ảnh
            th Tiêu đề
            th Giá
            th Vị trí
            th Trạng thái
            th Hành động

        tbody
          each item, index in danhSachVer2
            tr 
              td
                input(
                  type="checkbox"
                  input-change=item.id
                )
              td #{index + 1}
              td
                img(
                  src=item.thumbnail
                  alt=item.title
                  width="100px"
                  height="auto"
                )
              td #{item.title}
              td #{item.price}$
              td
                input(
                  type="number"
                  value=item.position
                  item-id=item._id
                  data-path=`/${prefixAdmin}/products/change-position`
                  input-position
                  style="width: 60px;"
                )
              td
                if item.status == "active"
                  button.badge.badge-success(
                    item-id=item.id,
                    button-change-status="inactive",
                    data-path=`/${prefixAdmin}/products/change-status`
                  ) Hoạt động
                else if item.status == "inactive"
                  button.badge.badge-danger(
                    item-id=item.id,
                    button-change-status="active",
                    data-path=`/${prefixAdmin}/products/change-status`
                  ) Dừng hoạt động
              td
                a.btn.btn-warning.btn-sm(href=`/admin/products/edit/${item._id}`) Sửa
                a.btn.btn-danger.btn-sm.ml-1(
                  item-id=item._id
                  button-delete
                  data-path=`/${prefixAdmin}/products/delete/${item._id}`
                  ) Xóa

  //- Pagination controls
  //- Usage of the pagination mixin
  +pagination(currentPage, totalPage)



